$font_stack: "Lucida Console", Monaco, monospace;

$bg_color: #000000;
$bg_hi_color: $bg_color + #666666;
$bg_low_color: $bg_color - #666666;
$fg_color: #009900;
$fg_hi_color: $fg_color + #666666;
$fg_low_color: $fg_color - #666666;
$wpadding: 10px;
$hpadding: 7px;

@mixin dim($w, $h) {
  width: $w;
  height: $h;
}

@mixin pdim($w, $h) {
  width: $w - ($wpadding/2);
  height: $h - ($hpadding/2);
}

@mixin center($w, $h, $cw, $ch) {
  left: ($cw - $w) / 2;
  position: absolute;
  top: ($ch - $h) / 2;
}

@mixin padding() {
  padding: $hpadding $wpadding;
}

@mixin hp-opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  filter: alpha(opacity=($trans * 100));
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}
