#game .status {
  @extend .section;
  @extend .sidebar;

  border-left: 1px solid $fg_color;
  height: $status_height;
  top: 0px;
  right: 0px;

  .bar.hp {
    .filled { color: #FF6600; }
    .empty { color: #996600; }
  }

  .bar.mp {
    .filled { color: #0066FF; }
    .empty { color: #006699; }
  }

  .bar.xp {
    .filled { color: #FF66FF; }
    .empty { color: #996699; }
  }
}
