/*
 * CREDIT
 * ------
 *
 * BROWSER RESET:
 *   http://meyerweb.com/eric/tools/css/reset/
 *     v2.0 | 20110126
 *     License: none (public domain)
 *
 * OPACITY:
 *   https://gist.github.com/jgv/745754
 *
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#game {
  background-color: black;
  border: 1px solid #009900;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  color: #009900;
  height: 470px;
  overflow: hidden;
  position: relative;
  width: 920px; }
  #game a {
    color: #009900; }
  #game a:hover {
    color: #66ff66; }
  #game .sidebar, #game .status, #game .help, #game .skills {
    width: 220px; }
  #game .bottombar, #game .output {
    height: 127px; }
  #game .section, #game .map, #game .status, #game .help, #game .skills, #game .output {
    overflow: hidden;
    position: absolute; }
    #game .section .title, #game .map .title, #game .status .title, #game .help .title, #game .skills .title, #game .output .title {
      background-color: #666666;
      color: #66ff66;
      padding: 7px 10px;
      border-bottom: 1px solid #009900; }
    #game .section .content, #game .map .content, #game .status .content, #game .help .content, #game .skills .content, #game .output .content {
      padding: 7px 10px; }
      #game .section .content b, #game .map .content b, #game .status .content b, #game .help .content b, #game .skills .content b, #game .output .content b {
        color: #66ff66; }

#game .menu {
  border: 1px solid #009900;
  background-color: black;
  width: 200;
  height: 270px;
  left: 360px;
  position: absolute;
  top: 100px;
  z-index: 100; }
  #game .menu .title {
    border-bottom: 1px solid #009900;
    background-color: #666666;
    color: #66ff66;
    padding: 7px 10px; }
  #game .menu .content {
    padding: 7px 10px; }

#game .overlay {
  width: 920px;
  height: 470px;
  background-color: #666666;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  position: absolute;
  z-index: 99; }

#game .map {
  width: 720px;
  height: 370px;
  top: 0px;
  left: 0px; }

#map {
  text-align: center; }

#game .status {
  border-left: 1px solid #009900;
  height: 118px;
  top: 0px;
  right: 0px; }
  #game .status .bar.hp .filled {
    color: #FF6600; }
  #game .status .bar.hp .empty {
    color: #996600; }
  #game .status .bar.mp .filled {
    color: #0066FF; }
  #game .status .bar.mp .empty {
    color: #006699; }
  #game .status .bar.xp .filled {
    color: #FF66FF; }
  #game .status .bar.xp .empty {
    color: #996699; }

#game .help {
  border-left: 1px solid #009900;
  border-top: 1px solid #009900;
  height: 202px;
  bottom: 0px;
  right: 0px; }

#game .skills {
  border-top: 1px solid #009900;
  border-left: 1px solid #009900;
  height: 150px;
  top: 118px;
  right: 0px; }
  #game .skills .invalid {
    color: #FF6600; }
  #game .skills .disabled {
    color: #666666; }

#game .output {
  border-top: 1px solid #009900;
  width: 700px;
  bottom: 0px; }
  #game .output .content {
    height: 82px;
    overflow: auto;
    padding: 0px;
    width: 700px; }
    #game .output .content .entry {
      padding-left: 10px; }

#game_over {
  border: 1px solid #009900;
  background-color: black;
  width: 200;
  height: 150;
  left: 360px;
  position: absolute;
  top: 160px;
  z-index: 100; }
  #game_over .title {
    border-bottom: 1px solid #009900;
    background-color: #666666;
    color: #66ff66;
    padding: 7px 10px; }
  #game_over .content {
    padding: 7px 10px; }
    #game_over .content b {
      color: #66ff66; }

#game_over_overlay {
  width: 920px;
  height: 470px;
  background-color: #666666;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  position: absolute;
  z-index: 99; }
